<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomeRichfaces" value="Richfaces welcome page" />
        <br />
        <h:link outcome="/paginasJSF/movimento/List" value="Show All Movimento Items"/>
        <br />
        <h:link outcome="/paginasJSF/produto/List" value="Show All Produto Items"/>
        <br />
        <h:link outcome="/paginasJSF/tipoMovimento/List" value="Show All TipoMovimento Items"/>
    </h:body>



</html>

