<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <ui:composition template="/templates/template.xhtml">
        <ui:define name="titulo">
            Sistema de Controle de Estoque
            

        </ui:define>
        <ui:define name="barra_menu"></ui:define>
        <ui:define name="corpo">
            <center>
                <h:outputText value="Usuário ou senha incorretos!" rendered="#{param.erro}" style="color: darkred"/>
            </center>
            <h2><h:outputText value="Efetuar Login" /></h2>
            
            <form action="j_spring_security_check" method="post">
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="j_username" value="Usuário: " /> 
                    <h:inputText id="j_username" required="true"/>
                    <h:outputLabel for="j_password" value="Senha: " />
                    <h:inputSecret id="j_password" required="true"/>
                    <center>
                    <h:commandButton value=" Login "/></center>
                </h:panelGrid>
            </form>
        </ui:define>
    </ui:composition>	
</html>