<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMovimentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateMovimentoLabel_codMovimento}" for="codMovimento" />
                    <h:inputText id="codMovimento" value="#{movimentoController.selected.codMovimento}" title="#{bundle.CreateMovimentoTitle_codMovimento}" required="true" requiredMessage="#{bundle.CreateMovimentoRequiredMessage_codMovimento}"/>
                    <h:outputLabel value="#{bundle.CreateMovimentoLabel_quantidade}" for="quantidade" />
                    <h:inputText id="quantidade" value="#{movimentoController.selected.quantidade}" title="#{bundle.CreateMovimentoTitle_quantidade}" required="true" requiredMessage="#{bundle.CreateMovimentoRequiredMessage_quantidade}"/>
                    <h:outputLabel value="#{bundle.CreateMovimentoLabel_dataCadastro}" for="dataCadastro" />
                    <h:inputText id="dataCadastro" value="#{movimentoController.selected.dataCadastro}" title="#{bundle.CreateMovimentoTitle_dataCadastro}" required="true" requiredMessage="#{bundle.CreateMovimentoRequiredMessage_dataCadastro}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateMovimentoLabel_codTipo}" for="codTipo" />
                    <h:selectOneMenu id="codTipo" value="#{movimentoController.selected.codTipo}" title="#{bundle.CreateMovimentoTitle_codTipo}" required="true" requiredMessage="#{bundle.CreateMovimentoRequiredMessage_codTipo}">
                        <f:selectItems value="#{tipoMovimentoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateMovimentoLabel_codProduto}" for="codProduto" />
                    <h:selectOneMenu id="codProduto" value="#{movimentoController.selected.codProduto}" title="#{bundle.CreateMovimentoTitle_codProduto}" required="true" requiredMessage="#{bundle.CreateMovimentoRequiredMessage_codProduto}">
                        <f:selectItems value="#{produtoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{movimentoController.create}" value="#{bundle.CreateMovimentoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{movimentoController.prepareList}" value="#{bundle.CreateMovimentoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateMovimentoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
