<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMovimentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMovimentoEmpty}" rendered="#{movimentoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{movimentoController.items.rowCount > 0}">
                    <h:outputText value="#{movimentoController.pagination.pageFirstItem + 1}..#{movimentoController.pagination.pageLastItem + 1}/#{movimentoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{movimentoController.previous}" value="#{bundle.Previous} #{movimentoController.pagination.pageSize}" rendered="#{movimentoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{movimentoController.next}" value="#{bundle.Next} #{movimentoController.pagination.pageSize}" rendered="#{movimentoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{movimentoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMovimentoTitle_codMovimento}"/>
                            </f:facet>
                            <h:outputText value="#{item.codMovimento}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMovimentoTitle_quantidade}"/>
                            </f:facet>
                            <h:outputText value="#{item.quantidade}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMovimentoTitle_dataCadastro}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataCadastro}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMovimentoTitle_codTipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMovimentoTitle_codProduto}"/>
                            </f:facet>
                            <h:outputText value="#{item.codProduto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{movimentoController.prepareView}" value="#{bundle.ListMovimentoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{movimentoController.prepareEdit}" value="#{bundle.ListMovimentoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{movimentoController.destroy}" value="#{bundle.ListMovimentoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{movimentoController.prepareCreate}" value="#{bundle.ListMovimentoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListMovimentoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
