<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMovimentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMovimentoLabel_codMovimento}"/>
                    <h:outputText value="#{movimentoController.selected.codMovimento}" title="#{bundle.ViewMovimentoTitle_codMovimento}"/>
                    <h:outputText value="#{bundle.ViewMovimentoLabel_quantidade}"/>
                    <h:outputText value="#{movimentoController.selected.quantidade}" title="#{bundle.ViewMovimentoTitle_quantidade}"/>
                    <h:outputText value="#{bundle.ViewMovimentoLabel_dataCadastro}"/>
                    <h:outputText value="#{movimentoController.selected.dataCadastro}" title="#{bundle.ViewMovimentoTitle_dataCadastro}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMovimentoLabel_codTipo}"/>
                    <h:outputText value="#{movimentoController.selected.codTipo}" title="#{bundle.ViewMovimentoTitle_codTipo}"/>
                    <h:outputText value="#{bundle.ViewMovimentoLabel_codProduto}"/>
                    <h:outputText value="#{movimentoController.selected.codProduto}" title="#{bundle.ViewMovimentoTitle_codProduto}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{movimentoController.destroyAndView}" value="#{bundle.ViewMovimentoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMovimentoEditLink}"/>
                <br />
                <h:commandLink action="#{movimentoController.prepareCreate}" value="#{bundle.ViewMovimentoCreateLink}" />
                <br />
                <h:commandLink action="#{movimentoController.prepareList}" value="#{bundle.ViewMovimentoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMovimentoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
