<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateProdutoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
                
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateProdutoLabel_codProduto}" for="codProduto" />
                    <h:inputText id="codProduto" value="#{produtoController.selected.codProduto}" title="#{bundle.CreateProdutoTitle_codProduto}" required="true" requiredMessage="#{bundle.CreateProdutoRequiredMessage_codProduto}"/>
                    <h:outputLabel value="#{bundle.CreateProdutoLabel_desNome}" for="desNome" />
                    <h:inputText id="desNome" value="#{produtoController.selected.desNome}" title="#{bundle.CreateProdutoTitle_desNome}" required="true" requiredMessage="#{bundle.CreateProdutoRequiredMessage_desNome}"/>
                    <h:outputLabel value="#{bundle.CreateProdutoLabel_estoqueAtual}" for="estoqueAtual" />
                    <h:inputText id="estoqueAtual" value="#{produtoController.selected.estoqueAtual}" title="#{bundle.CreateProdutoTitle_estoqueAtual}" />
                    <h:outputLabel value="#{bundle.CreateProdutoLabel_estoqueMinimo}" for="estoqueMinimo" />
                    <h:inputText id="estoqueMinimo" value="#{produtoController.selected.estoqueMinimo}" title="#{bundle.CreateProdutoTitle_estoqueMinimo}" />
                    <h:outputLabel value="#{bundle.CreateProdutoLabel_estoqueMaximo}" for="estoqueMaximo" />
                    <h:inputText id="estoqueMaximo" value="#{produtoController.selected.estoqueMaximo}" title="#{bundle.CreateProdutoTitle_estoqueMaximo}" />
                    <h:outputLabel value="#{bundle.CreateProdutoLabel_custoUnitario}" for="custoUnitario" />
                    <h:inputText id="custoUnitario" value="#{produtoController.selected.custoUnitario}" title="#{bundle.CreateProdutoTitle_custoUnitario}" required="true" requiredMessage="#{bundle.CreateProdutoRequiredMessage_custoUnitario}"/>
                    <h:outputLabel value="#{bundle.CreateProdutoLabel_custoVenda}" for="custoVenda" />
                    <h:inputText id="custoVenda" value="#{produtoController.selected.custoVenda}" title="#{bundle.CreateProdutoTitle_custoVenda}" required="true" requiredMessage="#{bundle.CreateProdutoRequiredMessage_custoVenda}"/>
                    <h:outputLabel value="#{bundle.CreateProdutoLabel_apresentacao}" for="apresentacao" />
                    <h:inputText id="apresentacao" value="#{produtoController.selected.apresentacao}" title="#{bundle.CreateProdutoTitle_apresentacao}" required="true" requiredMessage="#{bundle.CreateProdutoRequiredMessage_apresentacao}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{produtoController.create}" value="#{bundle.CreateProdutoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{produtoController.prepareList}" value="#{bundle.CreateProdutoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateProdutoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
