<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProdutoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProdutoLabel_codProduto}" for="codProduto" />
                    <h:inputText id="codProduto" value="#{produtoController.selected.codProduto}" title="#{bundle.EditProdutoTitle_codProduto}" required="true" requiredMessage="#{bundle.EditProdutoRequiredMessage_codProduto}"/>
                    <h:outputLabel value="#{bundle.EditProdutoLabel_desNome}" for="desNome" />
                    <h:inputText id="desNome" value="#{produtoController.selected.desNome}" title="#{bundle.EditProdutoTitle_desNome}" required="true" requiredMessage="#{bundle.EditProdutoRequiredMessage_desNome}"/>
                    <h:outputLabel value="#{bundle.EditProdutoLabel_estoqueAtual}" for="estoqueAtual" />
                    <h:inputText id="estoqueAtual" value="#{produtoController.selected.estoqueAtual}" title="#{bundle.EditProdutoTitle_estoqueAtual}" />
                    <h:outputLabel value="#{bundle.EditProdutoLabel_estoqueMinimo}" for="estoqueMinimo" />
                    <h:inputText id="estoqueMinimo" value="#{produtoController.selected.estoqueMinimo}" title="#{bundle.EditProdutoTitle_estoqueMinimo}" />
                    <h:outputLabel value="#{bundle.EditProdutoLabel_estoqueMaximo}" for="estoqueMaximo" />
                    <h:inputText id="estoqueMaximo" value="#{produtoController.selected.estoqueMaximo}" title="#{bundle.EditProdutoTitle_estoqueMaximo}" />
                    <h:outputLabel value="#{bundle.EditProdutoLabel_custoUnitario}" for="custoUnitario" />
                    <h:inputText id="custoUnitario" value="#{produtoController.selected.custoUnitario}" title="#{bundle.EditProdutoTitle_custoUnitario}" required="true" requiredMessage="#{bundle.EditProdutoRequiredMessage_custoUnitario}"/>
                    <h:outputLabel value="#{bundle.EditProdutoLabel_custoVenda}" for="custoVenda" />
                    <h:inputText id="custoVenda" value="#{produtoController.selected.custoVenda}" title="#{bundle.EditProdutoTitle_custoVenda}" required="true" requiredMessage="#{bundle.EditProdutoRequiredMessage_custoVenda}"/>
                    <h:outputLabel value="#{bundle.EditProdutoLabel_apresentacao}" for="apresentacao" />
                    <h:inputText id="apresentacao" value="#{produtoController.selected.apresentacao}" title="#{bundle.EditProdutoTitle_apresentacao}" required="true" requiredMessage="#{bundle.EditProdutoRequiredMessage_apresentacao}"/>
                </h:panelGrid>
                <h:commandLink action="#{produtoController.update}" value="#{bundle.EditProdutoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditProdutoViewLink}"/>
                <br />
                <h:commandLink action="#{produtoController.prepareList}" value="#{bundle.EditProdutoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditProdutoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
