<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListProdutoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListProdutoEmpty}" rendered="#{produtoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{produtoController.items.rowCount > 0}">
                    <h:outputText value="#{produtoController.pagination.pageFirstItem + 1}..#{produtoController.pagination.pageLastItem + 1}/#{produtoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{produtoController.previous}" value="#{bundle.Previous} #{produtoController.pagination.pageSize}" rendered="#{produtoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{produtoController.next}" value="#{bundle.Next} #{produtoController.pagination.pageSize}" rendered="#{produtoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{produtoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProdutoTitle_codProduto}"/>
                            </f:facet>
                            <h:outputText value="#{item.codProduto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProdutoTitle_desNome}"/>
                            </f:facet>
                            <h:outputText value="#{item.desNome}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProdutoTitle_estoqueAtual}"/>
                            </f:facet>
                            <h:outputText value="#{item.estoqueAtual}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProdutoTitle_estoqueMinimo}"/>
                            </f:facet>
                            <h:outputText value="#{item.estoqueMinimo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProdutoTitle_estoqueMaximo}"/>
                            </f:facet>
                            <h:outputText value="#{item.estoqueMaximo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProdutoTitle_custoUnitario}"/>
                            </f:facet>
                            <h:outputText value="#{item.custoUnitario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProdutoTitle_custoVenda}"/>
                            </f:facet>
                            <h:outputText value="#{item.custoVenda}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProdutoTitle_apresentacao}"/>
                            </f:facet>
                            <h:outputText value="#{item.apresentacao}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{produtoController.prepareView}" value="#{bundle.ListProdutoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{produtoController.prepareEdit}" value="#{bundle.ListProdutoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{produtoController.destroy}" value="#{bundle.ListProdutoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{produtoController.prepareCreate}" value="#{bundle.ListProdutoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListProdutoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
