<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewProdutoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewProdutoLabel_codProduto}"/>
                    <h:outputText value="#{produtoController.selected.codProduto}" title="#{bundle.ViewProdutoTitle_codProduto}"/>
                    <h:outputText value="#{bundle.ViewProdutoLabel_desNome}"/>
                    <h:outputText value="#{produtoController.selected.desNome}" title="#{bundle.ViewProdutoTitle_desNome}"/>
                    <h:outputText value="#{bundle.ViewProdutoLabel_estoqueAtual}"/>
                    <h:outputText value="#{produtoController.selected.estoqueAtual}" title="#{bundle.ViewProdutoTitle_estoqueAtual}"/>
                    <h:outputText value="#{bundle.ViewProdutoLabel_estoqueMinimo}"/>
                    <h:outputText value="#{produtoController.selected.estoqueMinimo}" title="#{bundle.ViewProdutoTitle_estoqueMinimo}"/>
                    <h:outputText value="#{bundle.ViewProdutoLabel_estoqueMaximo}"/>
                    <h:outputText value="#{produtoController.selected.estoqueMaximo}" title="#{bundle.ViewProdutoTitle_estoqueMaximo}"/>
                    <h:outputText value="#{bundle.ViewProdutoLabel_custoUnitario}"/>
                    <h:outputText value="#{produtoController.selected.custoUnitario}" title="#{bundle.ViewProdutoTitle_custoUnitario}"/>
                    <h:outputText value="#{bundle.ViewProdutoLabel_custoVenda}"/>
                    <h:outputText value="#{produtoController.selected.custoVenda}" title="#{bundle.ViewProdutoTitle_custoVenda}"/>
                    <h:outputText value="#{bundle.ViewProdutoLabel_apresentacao}"/>
                    <h:outputText value="#{produtoController.selected.apresentacao}" title="#{bundle.ViewProdutoTitle_apresentacao}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{produtoController.destroyAndView}" value="#{bundle.ViewProdutoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewProdutoEditLink}"/>
                <br />
                <h:commandLink action="#{produtoController.prepareCreate}" value="#{bundle.ViewProdutoCreateLink}" />
                <br />
                <h:commandLink action="#{produtoController.prepareList}" value="#{bundle.ViewProdutoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewProdutoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
