<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <title><ui:insert name="titulo">Estoque Web</ui:insert></title>
        <style type="text/css"><!--
            #logotipo {
                text-align: right;
                float: right;
            } -->
        </style>
    </h:head>
    <h:body>
        <div id="container">
            <div id="titulo">
                <ui:insert name="titulo">Estoque Web</ui:insert>
            </div>
            <div id="logotipo">
                <h:graphicImage
                    library="imagens" name="logotipo_m.png"/>
            </div>
            <div id="barra_menu">
                <ui:insert name="barra_menu">
                    <ui:include src="/restrito/menu_sistema.xhtml"/>
                </ui:insert>
            </div>
            <div id="corpo">
                <ui:insert name="corpo"/>
            </div>
            <div id="rodape">
                <ui:insert name="rodape">
                    <ui:include src="/publico/rodape.xhtml"/>
                </ui:insert>
            </div>
        </div>
    </h:body>
</html>
