<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTipoMovimentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTipoMovimentoLabel_codTipo}" for="codTipo" />
                    <h:inputText id="codTipo" value="#{tipoMovimentoController.selected.codTipo}" title="#{bundle.CreateTipoMovimentoTitle_codTipo}" required="true" requiredMessage="#{bundle.CreateTipoMovimentoRequiredMessage_codTipo}"/>
                    <h:outputLabel value="#{bundle.CreateTipoMovimentoLabel_tipo}" for="tipo" />
                    <h:inputText id="tipo" value="#{tipoMovimentoController.selected.tipo}" title="#{bundle.CreateTipoMovimentoTitle_tipo}" required="true" requiredMessage="#{bundle.CreateTipoMovimentoRequiredMessage_tipo}"/>
                    <h:outputLabel value="#{bundle.CreateTipoMovimentoLabel_descricao}" for="descricao" />
                    <h:inputText id="descricao" value="#{tipoMovimentoController.selected.descricao}" title="#{bundle.CreateTipoMovimentoTitle_descricao}" required="true" requiredMessage="#{bundle.CreateTipoMovimentoRequiredMessage_descricao}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipoMovimentoController.create}" value="#{bundle.CreateTipoMovimentoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{tipoMovimentoController.prepareList}" value="#{bundle.CreateTipoMovimentoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateTipoMovimentoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
