<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListTipoMovimentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListTipoMovimentoEmpty}" rendered="#{tipoMovimentoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{tipoMovimentoController.items.rowCount > 0}">
                    <h:outputText value="#{tipoMovimentoController.pagination.pageFirstItem + 1}..#{tipoMovimentoController.pagination.pageLastItem + 1}/#{tipoMovimentoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{tipoMovimentoController.previous}" value="#{bundle.Previous} #{tipoMovimentoController.pagination.pageSize}" rendered="#{tipoMovimentoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{tipoMovimentoController.next}" value="#{bundle.Next} #{tipoMovimentoController.pagination.pageSize}" rendered="#{tipoMovimentoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{tipoMovimentoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoMovimentoTitle_codTipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.codTipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoMovimentoTitle_tipo}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoMovimentoTitle_descricao}"/>
                            </f:facet>
                            <h:outputText value="#{item.descricao}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{tipoMovimentoController.prepareView}" value="#{bundle.ListTipoMovimentoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tipoMovimentoController.prepareEdit}" value="#{bundle.ListTipoMovimentoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{tipoMovimentoController.destroy}" value="#{bundle.ListTipoMovimentoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{tipoMovimentoController.prepareCreate}" value="#{bundle.ListTipoMovimentoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListTipoMovimentoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
