<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTipoMovimentoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTipoMovimentoLabel_codTipo}"/>
                    <h:outputText value="#{tipoMovimentoController.selected.codTipo}" title="#{bundle.ViewTipoMovimentoTitle_codTipo}"/>
                    <h:outputText value="#{bundle.ViewTipoMovimentoLabel_tipo}"/>
                    <h:outputText value="#{tipoMovimentoController.selected.tipo}" title="#{bundle.ViewTipoMovimentoTitle_tipo}"/>
                    <h:outputText value="#{bundle.ViewTipoMovimentoLabel_descricao}"/>
                    <h:outputText value="#{tipoMovimentoController.selected.descricao}" title="#{bundle.ViewTipoMovimentoTitle_descricao}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tipoMovimentoController.destroyAndView}" value="#{bundle.ViewTipoMovimentoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTipoMovimentoEditLink}"/>
                <br />
                <h:commandLink action="#{tipoMovimentoController.prepareCreate}" value="#{bundle.ViewTipoMovimentoCreateLink}" />
                <br />
                <h:commandLink action="#{tipoMovimentoController.prepareList}" value="#{bundle.ViewTipoMovimentoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTipoMovimentoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
